body{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: skyblue;
}
.navigation-bar{
	text-align: left;
	background-color: cyan;
	padding: 10px;
}
.navigation-bar a{
	padding: 40px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	background: blue;
	padding: 10px;
	opacity: 0.4;
}
div{
	text-align: left;
}
h1, h2,h3,div{
	display: block;
}
#contact{
	border: 1px grey solid;
	text-align: center;
}
#sosho, #addtion, #contact, #addless{
	border: 1px grey solid;
	text-align: center;

}